In [3]:
import pandas as pd
import numpy as np

df_csv = pd.read_csv("data/CRM.csv")
df_csv.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-10-15,146.699997,146.699997,141.320007,141.949997,141.949997,6040800
1,2018-10-16,145.470001,147.910004,144.009995,147.440002,147.440002,5383100
2,2018-10-17,148.350006,148.350006,145.419998,147.009995,147.009995,3377900
3,2018-10-18,146.089996,147.589996,141.429993,142.839996,142.839996,5338200
4,2018-10-19,143.610001,145.369995,140.380005,140.490005,140.490005,5141600

In [13]:
cols = df_csv.columns.values
cols

array(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'],
      dtype=object)

In [24]:
df_csv['High'].values

array([146.699997, 147.910004, 148.350006, 147.589996, 145.369995,
       143.800003, 141.970001, 141.5     , 141.690002, 139.210007,
       139.550003, 132.990005, 138.710007, 139.800003, 140.550003,
       137.339996, 138.      , 142.309998, 143.630005, 141.059998,
       136.660004, 133.770004, 134.940002, 132.949997])

In [10]:
col_dict = {}

for i in range(0, len(cols)):
    col_dict.update({cols[i], max(len(df_csv[col]))})
    
col_dict

TypeError: 'int' object is not iterable